<form (ngSubmit)="save()" [formGroup]="form">
  <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
   
    <h2 *ngIf="form.get('first_name').value || form.get('last_name').value"
        class="headline m-0"
        fxFlex="auto">{{ form.get('first_name').value + ' ' + form.get('last_name').value }}</h2>
    <h2 *ngIf="!form.get('first_name').value && !form.get('last_name').value"
        class="headline m-0"
        fxFlex="auto">New Customer</h2>

    <button [matMenuTriggerFor]="settingsMenu" class="text-secondary" mat-icon-button type="button">
      <mat-icon [icIcon]="icMoreVert"></mat-icon>
    </button>

    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
      <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
  </div>

  <mat-divider class="-mx-6 text-border"></mat-divider>

  <mat-dialog-content fxLayout="column">
    <div class="flex flex-col sm:flex-row">
      <mat-form-field class="mt-6 flex-auto">
        <mat-label>First Name</mat-label>
        <input cdkFocusInitial formControlName="first_name" matInput>

        <mat-icon [icIcon]="icPerson" class="mr-3" matPrefix></mat-icon>
      </mat-form-field>

      <mat-form-field class="sm:mt-6 sm:ml-6 flex-auto">
        <mat-label>Last Name</mat-label>
        <input cdkFocusInitial formControlName="last_name" matInput>

        <mat-icon [icIcon]="icPerson" class="mr-3" matPrefix></mat-icon>
      </mat-form-field>
    </div>

    <mat-form-field class="flex-auto">
      <mat-label>User Name</mat-label>
      <input formControlName="user_name" matInput>

      <mat-icon [icIcon]="icEditLocation" class="mr-3" matPrefix></mat-icon>
    </mat-form-field>

    <div class="flex flex-col sm:flex-row">
      <mat-form-field class="flex-auto">
        <mat-label>Password</mat-label>
        <input formControlName="password" matInput>

        <mat-icon [icIcon]="icMyLocation" class="mr-3" matPrefix></mat-icon>
      </mat-form-field>

      <mat-form-field class="sm:ml-6 flex-auto">
        <mat-label>Mobile</mat-label>
        <input formControlName="mobile" matInput>

        <mat-icon [icIcon]="icLocationCity" class="mr-3" matPrefix></mat-icon>
      </mat-form-field>
    </div>

    <mat-form-field class="flex-auto">
      <mat-label>Email</mat-label>
      <input formControlName="email" matInput>
      <mat-icon [icIcon]="icPhone" class="mr-3" matPrefix></mat-icon>
    </mat-form-field>

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">CANCEL</button>
    <button *ngIf="isCreateMode()" color="primary" mat-button type="submit">CREATE CUSTOMER</button>
    <button *ngIf="isUpdateMode()" color="primary" mat-button type="submit">UPDATE CUSTOMER</button>
  </mat-dialog-actions>
</form>

<mat-menu #settingsMenu="matMenu" xPosition="before" yPosition="below">
  <button mat-menu-item>
    <mat-icon [icIcon]="icPrint"></mat-icon>
    <span>Print</span>
  </button>

  <button mat-menu-item>
    <mat-icon [icIcon]="icDownload"></mat-icon>
    <span>Export</span>
  </button>

  <button mat-menu-item>
    <mat-icon [icIcon]="icDelete"></mat-icon>
    <span>Delete</span>
  </button>
</mat-menu>
